<% if local_assigns[:subject].nil? %>
  <% raise(Achiever::Exceptions::MissingArgToPartial, :subject) %>
<% end %>
<% new_badges = subject.new_badges %>

<div class="modal fade achievements-modal" role="dialog" >
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><%= t('achiever.messages.new_badges') %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% new_badges.each do |badge| %>
          <div class="achiever_new_badge">
            <h4><%= badge.name %></h4>
            <%= render 'achiever/badge', badge: badge, with_tooltip: false, with_title: false %>
            <h6><i><%= badge.desc %></i></h6>
            <h5><%= badge.msg %></h5>

            <% unless badge == new_badges.last %>
              <div class="sep">---</div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="achievements_modal_footer modal-footer">
        <%= link_to(
          t('achiever.messages.view_all'),
          achiever.root_path,
          class: 'achiever_link btn btn-primary'
        ) %>
      </div>
    </div>
  </div>
</div>

<% subject.clear_new_badges %>
